/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@keyframes hilang_otomatis {
  0% {
    max-height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 1;
  }
  80% {
    max-height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 1;
  }
  100% {
    max-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
    opacity: 0;
    overflow: hidden;
  }
}

.btn {
  display: inline-block;
  padding: 8px 5px;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(149, 141, 212);
  color: white;
  border: 1px solid black ;
}

.flex {
  display: flex;
  margin: 10px;
}

.notif_sementara {
  animation: hilang_otomatis 4s forwards;
  overflow: hidden;
}