<h1>Hallo Dunia</h1>


<p>Saya Ahmadi Jaka, Siswa SMK YADIKA SOREANG Sedang mempelajari <br>bahasa pemprogramman ruby beserta Framework Rails ^_^</p>
<br>
<br>
<div class="flex">
<%#
    Sekedar Ingfo:
    - Button "tentang saya" itu untuk memunculkan notifikasi
    - Notifikasi nya memakai metode Partial(bisa dibilang ini global) yang di simpan di layouts>application.html.erb
    Alur Flow nya gini :
    Si button (route button_sapa) nge ambil dari method sapa_balik yang berasal dari pages controller dengan berisi flash(untuk menyimpan sesuatu sementara) dengan memanggil notice untuk menampilkan notifikasi, dan membawa notifikasi itu ke view>pages.html.erb dengan code redirect_to root_path.

    Nah nanti notifikasi nya akan muncul di halaman pages, meskipun di halaman pages tidak ada pemicu untuk memunculkan flash, dikarenakan di balik layar(di layouts>application) logic untuk memicu flash muncul itu selalu ada tanpa terlihat secara langsung
%>

<%= button_to "Sapa Jaka👋", button_sapa_path, class: "btn btn-primary" %>



<%= link_to "Tentang Saya", about_path, class: "btn btn-primary" %>
</div>

<%# 
    CATATAN PENTING:
    - Tag <% ... % > (tanpa sama dengan) : Cuma Logika (if/else)
    - Tag < %= ... % > (pake sama dengan) : Nampilin ke Layar (Output)
%>